
@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
  background-color: darkgray;
  width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
}


.title {
  font-size: 2.5em;
  text-align: center;
}

.box {
  min-height: 150px;
}

.dark_gray {
  background-color: darkgray;
  color: #efefef;
  display: flex;
}
#map {
  width: 100%;
}
html, body {
  height: 100%;
  width: 100%;
}
a#menu svg {
width: 40px;
fill: #000;
}
#map {
  height: 100%;  
}
#drawer {
  display: inline;
}
li {
  margin: 2em;
}
#new-search {
  margin: 2em 0 0 1em;
  width: 70%;
}
nav, main {
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100%;
}
/* By default, the drawer is hidden. */
nav {
  display: flex-wrap;
  width: 205pz;
  z-index: +1;
  height: 100%;
  position: absolute;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}
nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
ul {
  width: 100%;
}
